
#login{
    width: 48em;
    margin: 30px auto;
    background-color: white;
    padding: 25px;
}
#login-taikhoan{
    
}
#login-matkhau{
    margin-top: 25px;
}
.login-input{
    width: 380px;
    height: 35px;
    border: 0.6px solid #ddd;
    font-size: 14.333px;
    padding-left: 8px;
    margin-top: 5px;
    font-family: sans-serif;
}
#btn-login{
    background-color: rgb(255, 230, 148);
    border: 1px solid #e6aeae;
    border-radius: 2px;
    color: #986246;
    text-align: center;
    font-size: 19px;
    width: 100%;
    height: 48px;

    
}
.fame-btn-login{
    padding-top: 16px;
}
#btn-login:hover{
    background-color: rgb(255, 174, 21);
    color: white;
}
#btn-login-fb{
    background-color: #3b5998;
    border-radius: 2px;
    border: 0px solid white;
    color: white;
    text-align: center;
    font-size: 19px;
    width: 100%;
    height: 48px;
    
}
#link-foget-password{
    text-align: right;
    margin-top: 8px;
    
    
}
#btn-login-fb:hover{
    background-color: #30288b;
}
#login-col-1{
    float: left;
    width: 390px;
    padding-top: 17px;
}#login-col-2{
    float: right;
    width: 300px;
    padding-right: 22px;
    padding-top: 17px;
}
#txt-loginwith{
    margin-top: 10px;
    color: #7a7a7a;
    margin-bottom: 10px;
    
}
#txt-foget-password{
    color: #399df4;
    text-decoration: none;
    
}
#txt-foget-password:hover{
    color: #18276a;
}
.content-wellcome{
    width: 48em;
    margin: 30px auto;
}
#txt-wellcome {
    width: 48em;
    color: rgba(180, 98, 83, 0.89);
    font-family: sans-serif;
    font-size: 22px;
    

}
#sign-up{
     
    margin-top: 4px;
    color: #7d7d7d;
}
/*   Start footer*/
