body {
    margin: 0px;
    padding: 0px;
    background-color: #f5f5f5;
    min-width: 1349px;
}

header {
    background-color: #fff8c4;


}

.gachngang {
    background-color: #b4b4b4;
    border: 0px solid;
    height: 1px;
}

#main {}

#linklogo {

    width: 283px;
    margin: 0 auto;
}

.box {
    width: 475px;
    margin: 0 auto;
}

.container-1 input {
    width: 450px;
    height: 35px;
    background: #fffbf9;
    border: none;
    font-size: 11pt;
    float: left;
    color: rgb(94, 81, 81);
    padding-left: 43px;
    border-radius: 4px;

}

.menungang {

    list-style-type: none;
    margin: 0px;
    padding: 0px;


    background-color: rgb(255, 230, 148);
}

.fa-cart-plus {
    margin-right: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    padding: 8px;
}

.dropdown a {

    text-decoration: none;
    color: #363636;
    font-size: 18px;
    padding: 10px;

}

.drop {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown a:hover {
    background-color: rgb(255, 167, 0);
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 2px 5px 2px rgb(60, 60, 60);
    z-index: 1;
    min-width: 120px;
    background-color: white;
    width: 178px;

}

.dropdown-content a {
    display: block;
    color: #525252;
    font-family: calibri;
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
}

.dropdown-content a:hover {
    background-color: rgb(255, 167, 0);
}

.btn-taikhoan {
    border: none;
    padding: 8px;
    background-color: rgb(255, 230, 148);
}

.btn-taikhoan:hover {
    background-color: rgb(255, 167, 0);

}

.btn-taikhoan b {
    color: #464646;
    text-align: left;
    font-size: 18px;
    font-family: calibri;

}

.drop:hover .dropdown-content {
    display: block;
}

.lia {
    float: right;
    padding: 0;
    margin: 0;

}

.lia a {
    display: block;
    color: #464646;
    text-align: left;
    font-size: 18px;
    padding: 8px;
    text-decoration: none;
    font-family: calibri;
}

.lia:hover {
    background-color: rgb(255, 167, 0);
}



#logo {

    margin-top: 30px;
    display: inline;
}

#logosearch {
    padding: 6px;
    background: rgb(255, 230, 148);
    border-radius: 4px;
    margin-top: 1px;
    margin-left: 2px;
}

#logosearch:hover {
    background-color: rgb(255, 167, 0);
}

.thanhmenu {
    width: 100%;
    background-color: rgb(255, 230, 148);
    margin-top: 10px;
}

.danhmuc {
    width: 986px;
    overflow: hidden;
    background-color: rgb(255, 230, 148);
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;


}

.muc {
    float: left;
    color: #464646;



}

.muc a {
    display: inline-block;
    text-decoration: none;
    color: #464646;
    font-size: 18px;
    padding: 7px 20px;
    font-family: calibri;
}

.muc:hover {
    background-color: rgb(255, 167, 0);
}

/*     End menu   */
/* Start main content */
h3 {
    color: #08556c;
    margin-left: 7.8%;
}

.content {
    width: 85%;
    margin: 0 auto;

}

.content-demuc {
    width: 100%;
    background-color: rgb(255, 230, 148);

}

.demuc {
    float: left;
    font-family: calibri;
    font-size: 19px;
}

#demuc-0 {
    margin-left: 16.5%;
}

#demuc-1 {
    margin-left: 31%;
}

#demuc-2 {
    margin-left: 16.5%;
}

.content-left {
    width: 70%;
    float: left;

    background-color: white;
}

.content-right {
    width: 30%;
    float: left;
    
}

.content-thanhtoan {
    margin-left: 5%;
    background-color: white;
}

.title-donhang {
    background-color: rgb(255, 230, 148);
    font-family: calibri;
    font-size: 1.2em;
}
.title-donhang span{
    margin-left: 5%;
}

#tongsl {
    font-family: calibri;
    font-size: 1.1em;
    margin: 5px 5%;
    color: #464646;
}

#tongcong {
    font-family: calibri;
    font-size: 1.1em;
    margin: 5px 5%;
    color: #464646;
}
.btn-muahang{
    margin: 5px 5%;
    border: none;
    background-color: rgb(255, 193, 76);
    width: 90%;
    font-family: calibri;
    font-size: 18px;
    height: 45px;
    margin-bottom: 4.4%;
}
.btn-muahang:hover{
    
    background-color: rgb(250, 175, 33);
}
.content-sanpham {

    width: 60%;
    float: left;
}

.canhle {
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #ddd;

}

.content-sanpham img {
    width: 20%;
    float: left;

}

#btn-xoa {
    margin-right: 5px;
    background-color: white;
    border: none;
    color: #808080;
}

#btn-xoa:hover {
    color: rgb(1, 157, 255);
}

#btn-yeuthich {
    background-color: white;
    border: none;
    color: #808080;
}

#btn-yeuthich:hover {
    color: #ff006c;
}

#content-title p {
    color: #464646;
    font-family: calibri;
    font-size: 18px;
    margin: 0;
}

.content-sanpham #content-title {
    margin: 0;
    margin-left: 5%;
    float: left;

}

.content-price {
    width: 20%;
    float: left;
    color: #ff6200;
    font-size: 20px;
    font-family: calibri;
}

.content-soluong {
    width: 20%;
    float: left;
}

.content-soluong button {
    width: 30px;
    height: 30px;
    background-color: #efefef;
    margin: 2px;
    border: none;
    float: left;
}

.content-soluong button:hover {
    background-color: #d8d8d8;

}

.content-soluong input {
    width: 27px;
    height: 28px;
    padding: 0;
    margin: 0;
    float: left;
    margin-top: 2px;
    text-align: center;
    border: 1px solid #e0e0e0;
}
/*   Start footer*/
.footer{
    width: 100%;
    background-color: #fff8c4;
    padding: 33px 0;
    margin-top: 30px;
    
}
.footer-left{
    width: 30%;
    float: left;
    margin-left: 10%;
}
.footer-center{
    width: 30%;
    float: left;
    margin: 0;
}
.footer-right{
    width: 25%;
    float: left;
    margin-right: 5%;
}
.footer-center a{
    text-decoration: none;
    color: #363636;
    font-size: 1.1em;
    font-family: calibri;

}
.footer-center span{
    font-size: 1.7em;
    font-family: calibri;
    
}.footer-right span{
    font-size: 1.7em;
    font-family: calibri;
    
}
/* Set css cho icon */
.fa-facebook-square{
    color: #434395;
    margin: 5px;
}
.fa-facebook-square:hover{
    color: #1a387b;
}
.fa-youtube:hover{
    color: #ff2626;
}
.fa-twitter-square:hover{
    color: #0abdff;
}
.fa-instagram:hover{
    color: #ff0045;
}
.fa-instagram{
    color: #ff346b;
     margin: 5px;
}.fa-twitter-square{
    color: #4287a0;
     margin: 5px;
}
.fa-youtube{
    color:#ff3f3f;
     margin: 5px;
}
.footer-left span{
    font-size: 1.7em;
    font-family: calibri;
}

.footer-left a{
    text-decoration: none;
    color: #363636;
    font-size: 1.1em;
    font-family: calibri;
}