/*   Start footer*/
.footer{
    width: 100%;
    background-color: #fff8c4;
    padding: 33px 0;
    margin-top: 30px;
}
.footer-left{
    width: 30%;
    float: left;
    margin-left: 10%;
}
.footer-center{
    width: 30%;
    float: left;
    margin: 0;
}
.footer-right{
    width: 25%;
    float: left;
    margin-right: 5%;
}
.footer-center a{
    text-decoration: none;
    color: #363636;
    font-size: 1.1em;
    font-family: calibri;

}
.footer-center span{
    font-size: 1.7em;
    font-family: calibri;
    
}.footer-right span{
    font-size: 1.7em;
    font-family: calibri;
    
}
/* Set css cho icon */
.fa-facebook-square{
    color: #656598;
    margin: 5px;
}
.fa-facebook-square:hover{
    color: #1a387b;
}
.fa-youtube:hover{
    color: #ff2626;
    
}
.fa-twitter-square:hover{
    color: #0abdff;
}
.fa-instagram:hover{
    color: #ff0045;
}
.fa-instagram{
    color: #ff346b;
     margin: 5px;
}.fa-twitter-square{
    color: #91b1be;
     margin: 5px;
}
.fa-youtube{
    color:#ff3f3f;
     margin: 5px;
    
}
.footer-left span{
    font-size: 1.7em;
    font-family: calibri;
}

.footer-left a{
    text-decoration: none;
    color: #363636;
    font-size: 1.1em;
    font-family: calibri;
}
.locsp{
    
    float: right;
    padding-left: 10px;
    
}