
/*     End menu   */
/* Start main content */
h3 {
    color: #08556c;
    margin-left: 7.8%;
}

.content {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 32px;
}

.content-demuc {
    width: 100%;
    background-color: rgb(255, 230, 148);

}

.demuc {
    float: left;
    font-family: calibri;
    font-size: 19px;
}

#demuc-0 {
    margin-left: 16.5%;
}

#demuc-1 {
    margin-left: 31%;
}

#demuc-2 {
    margin-left: 16.5%;
}

.content-left {
    width: 70%;
    float: left;

    background-color: white;
}

.content-right {
    width: 30%;
    float: left;
    
}

.content-thanhtoan {
    margin-left: 5%;
    background-color: white;
}

.title-donhang {
    background-color: rgb(255, 230, 148);
    font-family: calibri;
    font-size: 1.2em;
}
.title-donhang span{
    margin-left: 5%;
}

#tongsl {
    font-family: calibri;
    font-size: 1.1em;
    margin: 5px 5%;
    color: #464646;
}

#tongcong {
    font-family: calibri;
    font-size: 1.1em;
    margin: 5px 5%;
    color: #464646;
}
.btn-muahang{
    margin: 5px 5%;
    border: none;
    background-color: rgb(255, 193, 76);
    width: 90%;
    font-family: calibri;
    font-size: 18px;
    height: 45px;
    margin-bottom: 4.4%;
}
.btn-muahang:hover{
    
    background-color: rgb(250, 175, 33);
}
.content-sanpham {

    width: 60%;
    float: left;
}

.canhle {
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #ddd;

}

.content-sanpham img {
    width: 20%;
    float: left;

}

#btn-xoa {
    margin-right: 5px;
    background-color: white;
    border: none;
    color: #808080;
}

#btn-xoa:hover {
    color: rgb(1, 157, 255);
}

#btn-yeuthich {
    background-color: white;
    border: none;
    color: #808080;
}

#btn-yeuthich:hover {
    color: #ff006c;
}

#content-title p {
    color: #464646;
    font-family: calibri;
    font-size: 18px;
    margin: 0;
}

.content-sanpham #content-title {
    margin: 0;
    margin-left: 5%;
    float: left;

}

.content-price {
    width: 20%;
    float: left;
    color: #ff6200;
    font-size: 20px;
    font-family: calibri;
}

.content-soluong {
    width: 20%;
    float: left;
}

.content-soluong button {
    width: 30px;
    height: 30px;
    background-color: #efefef;
    margin: 2px;
    border: none;
    float: left;
}

.content-soluong button:hover {
    background-color: #d8d8d8;

}

.content-soluong input {
    width: 27px;
    height: 28px;
    padding: 0;
    margin: 0;
    float: left;
    margin-top: 2px;
    text-align: center;
    border: 1px solid #e0e0e0;
}
/*   Start footer*/
